body {
    display: flex;
    flex-direction: column;
    min-height: 100VH;
    min-width: 100VH;
    margin: 0;

}

.container {
    display: flex;
}

.addProject {
    width: 80px;
    height: 65px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  brown;
        ;
    min-width: 20%;
    border-right: 4px solid black;
    box-sizing: border-box;
    height: 100vh;
}

.leftTitle {
    font-family: 'Times New Roman', Times, serif;

    font-size: 2rem;
    text-align: center;
    padding: 20px;
    color: burlywood;
}

.addProject {
    font-family: 'Times New Roman', Times, serif;
    border: 2.5px solid black;
    background-color: burlywood;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20px;
    padding: 15px;
}
.rightContainer {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 80%;


}

.taskList {
    display: flex;
    flex-direction: column;
    height: 100%;

    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.taskItem {
    background-color: brown;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    border: 3px solid black;
    padding: 15px;
    box-sizing: border-box;
}

.taskItem h1 {
    font-family: 'Times New Roman', Times, serif;


}

.taskItem button {
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;


    
}

.projectList {
    border-top: 2px solid black;
    margin-top: 30px;
    min-width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;

}

.projectNameButton {
    
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 80%;
    height: 20px;
    padding: 15px;
    border: 2.5px solid burlywood;


}

.projectNameButton:hover {
    margin-top: 15px;
    display: flex;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 80%;
    height: 20px;
    padding: 15px;
    border: 2.5px solid burlywood;


}